{% extends "layout.html" %}

{% block body %}
<h1>Contact</h1>
<img class="circular--square" src="/static/me.jpeg" width="100" height="100">
<br></br>
<b>Tom Gurrie</b>
<br></br>
Email: <a href="mailto:gurriet08@gmail.com?Subject=CS50%20Project" target="_top">gurriet08@gmail.com</a>
<br></br>
GitHub: <a href="https://github.com/Redledbetter08">Redledbetter08</a>
<br></br>
LinkedIn: <a href="https://www.linkedin.com/in/tom-gurrie-b7628482/">https://www.linkedin.com/in/tom-gurrie-b7628482/</a>
{% endblock %}