{% extends "layout.html" %}

{% block body %}
<h1>Analyzing Online News with Python and NLTK</h1>
<br></br>
<p>
In a time of fake news and highly targeted media, how our culture consumes information has been at the
forefront of the national, and international, conversation.
</p>
<p>Everyone seems to have an opinion, a take or a spin, making it hard to tell what is fact and what is embellishment.
As the next generation figures out innovative ways to solve this challenge, from courses in elementary
schools on how to identify whether a source is real to some of the biggest companies in the world creating
new text mining algorithms, my project seeks to identify how bias affects the articles you are reading.
This tool enables you to better make your own judgement - right or left, positive or negative,
untrustworthy or reputable. Enjoy!
</p>
<p>
<i>Click on <b>Overview</b> to learn about how the articles will be compared and then head to <b>Compare</b> to submit your
articles for comparison.</i>
</p>
{% endblock %}

